*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html {
	font-size: 62.5%;
	--background-gradient: radial-gradient(
		100% 100% at 67% 0%,
		rgba(192, 86, 33, 0.7) 0%,
		rgba(219, 39, 65, 0.7) 14.29%,
		rgba(203, 46, 114, 0.7) 28.67%,
		rgba(188, 51, 136, 0.7) 42.86%,
		rgba(173, 56, 150, 0.7) 57.14%,
		rgba(158, 60, 162, 0.7) 71.43%,
		rgba(107, 70, 193, 0.7) 100%
	);
}

body {
	font-size: 1.6rem;
	color: #151515;
}

.foreground-overlay {
	background-image: var(--background-gradient);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}
